{
    "openapi": "3.1.0",
    "info": {
        "title": "FastAPI",
        "version": "0.1.0"
    },
    "servers": [
        {
            "url": "https://api.gloo.ai"
        }
    ],
    "paths": {
        "/auth/{v}/routes": {
            "post": {
                "tags": [
                    "Authentication & Authorization"
                ],
                "summary": "Check Route Authorization",
                "operationId": "check_route_authorization_auth__v__routes_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RouteAuthorizationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/{v}/invitations": {
            "post": {
                "tags": [
                    "Authentication & Authorization"
                ],
                "summary": "Create Files",
                "operationId": "create_files_auth__v__invitations_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "additionalProperties": true,
                                "title": "Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Create Files Auth  V  Invitations Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/{v}/forgot-password": {
            "post": {
                "tags": [
                    "Authentication & Authorization"
                ],
                "summary": "Request Password Reset",
                "description": "Request a password reset code to be sent to the user's email.",
                "operationId": "request_password_reset_auth__v__forgot_password_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ForgotPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Request Password Reset Auth  V  Forgot Password Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/{v}/confirm-forgot-password": {
            "post": {
                "tags": [
                    "Authentication & Authorization"
                ],
                "summary": "Confirm Password Reset",
                "description": "Confirm the password reset using the code sent to the user's email.",
                "operationId": "confirm_password_reset_auth__v__confirm_forgot_password_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConfirmForgotPasswordRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Confirm Password Reset Auth  V  Confirm Forgot Password Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/{v}/request-confirmation-email": {
            "get": {
                "tags": [
                    "Authentication & Authorization"
                ],
                "summary": "Request Confirmation Email",
                "operationId": "request_confirmation_email_auth__v__request_confirmation_email_get",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Request Confirmation Email Auth  V  Request Confirmation Email Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/{v}/confirm-email": {
            "get": {
                "tags": [
                    "Authentication & Authorization"
                ],
                "summary": "Confirm Email",
                "operationId": "confirm_email_auth__v__confirm_email_get",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Confirm Email Auth  V  Confirm Email Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/document/": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Upload Document To Weaviate",
                "operationId": "upload_document_to_weaviate_ingestion__v__document__post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileUploadStatusModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/documents/": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Unzip And Upload Documents To Weaviate",
                "operationId": "unzip_and_upload_documents_to_weaviate_ingestion__v__documents__post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileUploadStatusModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/ingest/excel": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Process Excel Data",
                "operationId": "process_excel_data_ingestion__v__ingest_excel_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExcelDocumentModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileUploadStatusModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/upload_zip_with_metadata": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Upload Zip With Metadata",
                "operationId": "upload_zip_with_metadata_ingestion__v__upload_zip_with_metadata_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MetadataMapModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileUploadStatusModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/upload_whisper_transcripts/": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Upload Whisper Transcripts",
                "operationId": "upload_whisper_transcripts_ingestion__v__upload_whisper_transcripts__post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WhisperTranscriptMetadataModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileUploadStatusModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/real_time_upload": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Real Time Upload",
                "operationId": "real_time_upload_ingestion__v__real_time_upload_post",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RealTimeDocumentModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileUploadStatusModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/status/{batch_id}": {
            "get": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Get Status",
                "operationId": "get_status_ingestion__v__status__batch_id__get",
                "parameters": [
                    {
                        "name": "batch_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid4",
                            "title": "Batch Id"
                        }
                    },
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/ingest": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Ingest File Or Zip",
                "operationId": "ingest_file_or_zip_ingestion__v__ingest_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IngestionDocumentModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileUploadStatusModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/media": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Ingest Audio Video Articles",
                "operationId": "ingest_audio_video_articles_ingestion__v__media_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MediaDocumentModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ingestion/{v}/whisper-callback": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Whisper Callback",
                "operationId": "whisper_callback_ingestion__v__whisper_callback_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TranscribedItemDetails"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/items/{item_id}/enrichment": {
            "get": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Get Enrichment",
                "description": "Get the enrichment data for an item",
                "operationId": "get_enrichment_engine__v__items__item_id__enrichment_get",
                "parameters": [
                    {
                        "name": "item_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Item Id"
                        }
                    },
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Update Enrichment Field",
                "description": "Update a specific field in the enrichment data",
                "operationId": "update_enrichment_field_engine__v__items__item_id__enrichment_patch",
                "parameters": [
                    {
                        "name": "item_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Item Id"
                        }
                    },
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnrichmentUpdateModel"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/ingested-data/upload-url": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Create Presigned Upload Url",
                "operationId": "create_presigned_upload_url_engine__v__ingested_data_upload_url_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PresignedUrlRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PresignedUrlResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/ingested-data/uploads": {
            "get": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "List Uploaded Files",
                "operationId": "list_uploaded_files_engine__v__ingested_data_uploads_get",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    },
                    {
                        "name": "folder_paths",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Folder Paths"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileListResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/ingested-data": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Create Ingested Data",
                "operationId": "create_ingested_data_engine__v__ingested_data_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FilesInsertRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileInsertResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/ingested-data/items": {
            "get": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Get Ingested Data By Ids",
                "operationId": "get_ingested_data_by_ids_engine__v__ingested_data_items_get",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    },
                    {
                        "name": "item_ids",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Item Ids"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/IngestedDataItem"
                                    },
                                    "title": "Response Get Ingested Data By Ids Engine  V  Ingested Data Items Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/ingested-data/query": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Ingestion & Enrichment"
                ],
                "summary": "Query Ingested Data",
                "operationId": "query_ingested_data_engine__v__ingested_data_query_post",
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GetIngestedDataRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IngestedDataResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/publishers": {
            "get": {
                "tags": [
                    "Data Engine",
                    "Publishers & Organizations"
                ],
                "summary": "Get publishers list",
                "description": "Retrieve a list of publishers based on user role and permissions.\n    \n    - Global Admin\n        - Can view all publishers\n        - Can filter by organization ID\n    \n    - Organization Admin\n        - Can only view publishers within their organization\n        - Cannot access publishers from other organizations\n    \n    - Other Roles\n        - No access to this endpoint",
                "operationId": "get_publishers_engine__v__publishers_get",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    },
                    {
                        "name": "organization_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Organization Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of publishers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PublisherResponse"
                                    },
                                    "title": "Response Get Publishers Engine  V  Publishers Get"
                                },
                                "example": [
                                    {
                                        "id": "123e4567-e89b-12d3-a456-426614174000",
                                        "name": "Publisher Name",
                                        "organization_id": "123e4567-e89b-12d3-a456-426614174001",
                                        "publisher_logo": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/example_logo.png",
                                        "publisher_fav": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/example_favicon.png",
                                        "publisher_bw": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/example_bw.svg",
                                        "publisher_url": "https://example.com",
                                        "publisher_hierarchy": "Parent Publisher",
                                        "publisher_hierarchy_logo": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/parent_logo.png",
                                        "publisher_hierarchy_fav": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/parent_favicon.png",
                                        "publisher_hierarchy_bw": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/parent_bw.svg",
                                        "publisher_hierarchy_url": "https://parent.example.com",
                                        "drm": [
                                            "Type1",
                                            "Type2"
                                        ]
                                    }
                                ]
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - User doesn't have permission",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "Forbidden"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Data Engine",
                    "Publishers & Organizations"
                ],
                "summary": "Create a new publisher",
                "description": "Creates a new publisher with optional image assets and organization assignment.\n    \n    **Permission Requirements:**\n    - Global Admin: Can create publishers for any organization, or create a new organization\n    - Organization Admin: Can only create publishers for their own organization\n    \n    **Organization Handling:**\n    - If organization_id is provided: Uses the specified organization (permission check applied)\n    - If no organization_id is provided:\n      - For Global Admins: Creates a new organization with the same name as the publisher\n      - For Org Admins: Uses their current organization\n    \n    **S3 Directory Creation:**\n    This endpoint automatically creates S3 directories for the new publisher with the structure:\n    - {publisher_name}/\n      - audio/\n        - metadata/\n      - video/\n        - metadata/\n      - books/\n        - metadata/\n      - articles/\n        - metadata/",
                "operationId": "create_publishers_engine__v__publishers_post",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublisherCreateRequest",
                                "examples": {
                                    "basic": {
                                        "summary": "Basic Publisher",
                                        "description": "Create a basic publisher with name only",
                                        "value": {
                                            "name": "Example Publisher"
                                        }
                                    },
                                    "with_org": {
                                        "summary": "Publisher with Organization",
                                        "description": "Create a publisher and assign to existing organization",
                                        "value": {
                                            "name": "Example Publisher",
                                            "organization_id": "123e4567-e89b-12d3-a456-426614174001"
                                        }
                                    },
                                    "complete": {
                                        "summary": "Complete Publisher",
                                        "description": "Create a publisher with all available fields",
                                        "value": {
                                            "name": "Example Publisher",
                                            "organization_id": "123e4567-e89b-12d3-a456-426614174001",
                                            "publisher_logo": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/example_logo.png",
                                            "publisher_fav": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/example_favicon.png",
                                            "publisher_bw": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/example_bw.svg",
                                            "publisher_url": "https://example.com",
                                            "drm": [
                                                "Type1",
                                                "Type2"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Publisher created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublisherResponse"
                                },
                                "example": {
                                    "id": "123e4567-e89b-12d3-a456-426614174000",
                                    "name": "Example Publisher",
                                    "organization_id": "123e4567-e89b-12d3-a456-426614174001",
                                    "publisher_logo": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/example_logo.png",
                                    "publisher_fav": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/example_favicon.png",
                                    "publisher_bw": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/example_bw.svg"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid data",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "Invalid request data"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - insufficient permissions",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "Forbidden: You can only create publishers for your own organization"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "An error occurred while creating the publisher"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/publishers/{publisher_id}": {
            "get": {
                "tags": [
                    "Data Engine",
                    "Publishers & Organizations"
                ],
                "summary": "Get Publisher",
                "operationId": "get_publisher_engine__v__publishers__publisher_id__get",
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Publisher Id"
                        }
                    },
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublisherResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Data Engine",
                    "Publishers & Organizations"
                ],
                "summary": "Update publisher details",
                "description": "Update an existing publisher's information.\n    \n    **Permission Requirements:**\n    - Global Admin: Can update any publisher\n    - Organization Admin: Can only update publishers within their organization\n    \n    Fields that can be updated:\n    - publisher_logo\n    - publisher_fav\n    - publisher_bw\n    - publisher_url\n    - publisher_hierarchy\n    - publisher_hierarchy_logo\n    - publisher_hierarchy_fav\n    - publisher_hierarchy_bw\n    - publisher_hierarchy_url\n    - drm\n    \n    Note: Publisher name cannot be modified after creation.",
                "operationId": "update_publisher_engine__v__publishers__publisher_id__patch",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "publisher_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Publisher Id"
                        }
                    },
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublisherCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Publisher updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublisherResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - insufficient permissions"
                    },
                    "404": {
                        "description": "Publisher not found"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/publishers/presigned-url": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Publishers & Organizations"
                ],
                "summary": "Generate presigned URL for publisher image upload",
                "description": "Generates a presigned URL to upload publisher images directly to S3.\n    \n    This endpoint provides:\n    - A presigned URL for direct browser-to-S3 upload\n    - The final URL where the image will be accessible after upload\n    - S3 bucket and key information\n    \n    Supported image types:\n    - PNG files (image/png)\n    - SVG files (image/svg+xml)\n    \n    The presigned URL expires after 1 hour.",
                "operationId": "get_presigned_url_engine__v__publishers_presigned_url_post",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PresignedUrlRequest",
                                "examples": {
                                    "png_example": {
                                        "summary": "PNG Logo Upload",
                                        "description": "Request for uploading a PNG logo file",
                                        "value": {
                                            "fileName": "publisher_logo.png",
                                            "fileType": "image/png",
                                            "uploadType": "normal"
                                        }
                                    },
                                    "svg_example": {
                                        "summary": "SVG Logo Upload",
                                        "description": "Request for uploading an SVG logo file",
                                        "value": {
                                            "fileName": "publisher_logo.svg",
                                            "fileType": "image/svg+xml",
                                            "uploadType": "normal"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully generated presigned URL",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Get Presigned Url Engine  V  Publishers Presigned Url Post"
                                },
                                "example": {
                                    "presigned_url": "https://dapologeticsimages.s3.amazonaws.com/logos/publisher_logo.png?AWSAccessKeyId=XXXX&Signature=YYYY&Expires=1234567890",
                                    "file_url": "https://dapologeticsimages.s3.us-east-1.amazonaws.com/logos/publisher_logo.png",
                                    "key": "logos/publisher_logo.png",
                                    "bucket": "dapologeticsimages"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - invalid parameters",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "Invalid file type. Supported types: image/png, image/svg+xml"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden - insufficient permissions",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "Forbidden"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "Failed to generate upload URL"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/organizations": {
            "get": {
                "tags": [
                    "Data Engine",
                    "Publishers & Organizations"
                ],
                "summary": "Get Organizations",
                "operationId": "get_organizations_engine__v__organizations_get",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganizationCollectionResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Data Engine",
                    "Publishers & Organizations"
                ],
                "summary": "Create Organization",
                "operationId": "create_organization_engine__v__organizations_post",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganizationCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganizationCreateResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/organizations/{organization_id}": {
            "put": {
                "tags": [
                    "Data Engine",
                    "Publishers & Organizations"
                ],
                "summary": "Update Organization",
                "operationId": "update_organization_engine__v__organizations__organization_id__put",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "organization_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Organization Id"
                        }
                    },
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganizationUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/organizations/{organization_id}/activate": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Publishers & Organizations"
                ],
                "summary": "Activate Organization",
                "description": "Activate an organization by setting its is_active flag to true.\nThis endpoint only updates the organization's active status.",
                "operationId": "activate_organization_engine__v__organizations__organization_id__activate_post",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "organization_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Organization Id"
                        }
                    },
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/statistics/summary/organizations": {
            "get": {
                "tags": [
                    "Data Engine",
                    "Statistics"
                ],
                "summary": "Get organization statistics summary",
                "description": "Returns organization statistics in a hierarchical format.\n    \n    Role-based access:\n    \n    - Global Admin: Complete view of organizations with activity metrics\n    - Other roles: Not authorized to access statistics\n    \n    The response structure depends on the authenticated user's role.",
                "operationId": "get_organization_summary_engine__v__statistics_summary_organizations_get",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    },
                    {
                        "name": "activity_period_start_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start date for the activity period (inclusive)",
                            "title": "Activity Period Start Date"
                        },
                        "description": "Start date for the activity period (inclusive)"
                    },
                    {
                        "name": "activity_period_end_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End date for the activity period (inclusive)",
                            "title": "Activity Period End Date"
                        },
                        "description": "End date for the activity period (inclusive)"
                    },
                    {
                        "name": "activity_threshold",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Minimum number of items required for an entity to be considered 'active' in the specified period",
                            "default": 1,
                            "title": "Activity Threshold"
                        },
                        "description": "Minimum number of items required for an entity to be considered 'active' in the specified period",
                        "example": 5
                    },
                    {
                        "name": "seven_days_threshold",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Minimum number of items for an entity to be considered active in the 7-day activity report",
                            "default": 1,
                            "title": "Seven Days Threshold"
                        },
                        "description": "Minimum number of items for an entity to be considered active in the 7-day activity report",
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response with organization statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Get Organization Summary Engine  V  Statistics Summary Organizations Get"
                                },
                                "examples": {
                                    "global_admin": {
                                        "summary": "Global Admin Statistics",
                                        "description": "Complete statistics for all organizations",
                                        "value": {
                                            "organizations": {
                                                "total": {
                                                    "count": 32,
                                                    "change": 2
                                                },
                                                "status": {
                                                    "active": {
                                                        "count": 13,
                                                        "change": 1
                                                    },
                                                    "inactive": {
                                                        "count": 19,
                                                        "change": -1
                                                    }
                                                }
                                            },
                                            "7_days_activity": {
                                                "organizations": {
                                                    "total_change": 2,
                                                    "active_change": 1,
                                                    "inactive_change": -1
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "User is not authorized to access statistics",
                                    "code": "UNAUTHORIZED",
                                    "error": "User is not authorized to access statistics"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "Failed to generate organization statistics"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/statistics/summary/publishers": {
            "get": {
                "tags": [
                    "Data Engine",
                    "Statistics"
                ],
                "summary": "Get publisher statistics summary",
                "description": "Returns publisher statistics in a hierarchical format.\n    \n    Role-based access:\n    \n    - Global Admin: Complete view of all publishers with activity metrics\n    - Organization Admin: Limited view of publishers within their organization\n    - Other roles: Not authorized to access statistics\n    \n    The response structure depends on the authenticated user's role.",
                "operationId": "get_publisher_summary_engine__v__statistics_summary_publishers_get",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    },
                    {
                        "name": "activity_period_start_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Start date for the activity period (inclusive)",
                            "title": "Activity Period Start Date"
                        },
                        "description": "Start date for the activity period (inclusive)"
                    },
                    {
                        "name": "activity_period_end_date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time",
                            "description": "End date for the activity period (inclusive)",
                            "title": "Activity Period End Date"
                        },
                        "description": "End date for the activity period (inclusive)"
                    },
                    {
                        "name": "activity_threshold",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Minimum number of items required for an entity to be considered 'active' in the specified period",
                            "default": 1,
                            "title": "Activity Threshold"
                        },
                        "description": "Minimum number of items required for an entity to be considered 'active' in the specified period",
                        "example": 5
                    },
                    {
                        "name": "seven_days_threshold",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "Minimum number of items for an entity to be considered active in the 7-day activity report",
                            "default": 1,
                            "title": "Seven Days Threshold"
                        },
                        "description": "Minimum number of items for an entity to be considered active in the 7-day activity report",
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response with publisher statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": true,
                                    "title": "Response Get Publisher Summary Engine  V  Statistics Summary Publishers Get"
                                },
                                "examples": {
                                    "global_admin": {
                                        "summary": "Global Admin Publisher Statistics",
                                        "description": "Complete statistics for all publishers",
                                        "value": {
                                            "publishers": {
                                                "total": {
                                                    "count": 118,
                                                    "change": 4
                                                },
                                                "status": {
                                                    "active": {
                                                        "count": 16,
                                                        "change": 1
                                                    },
                                                    "inactive": {
                                                        "count": 102,
                                                        "change": -1
                                                    }
                                                }
                                            },
                                            "7_days_activity": {
                                                "publishers": {
                                                    "total_change": 4,
                                                    "active_change": 1,
                                                    "inactive_change": -1
                                                }
                                            }
                                        }
                                    },
                                    "org_admin": {
                                        "summary": "Organization Admin Publisher Statistics",
                                        "description": "Statistics for publishers within a specific organization",
                                        "value": {
                                            "publishers": {
                                                "total": {
                                                    "count": 10,
                                                    "change": 1
                                                },
                                                "status": {
                                                    "active": {
                                                        "count": 8,
                                                        "change": 1
                                                    },
                                                    "inactive": {
                                                        "count": 2,
                                                        "change": -1
                                                    }
                                                }
                                            },
                                            "7_days_activity": {
                                                "publishers": {
                                                    "total_change": 1,
                                                    "active_change": 1,
                                                    "inactive_change": -1
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "example": {
                                    "message": "User is not authorized to access statistics",
                                    "code": "UNAUTHORIZED",
                                    "error": "User is not authorized to access statistics"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "Failed to generate publisher statistics"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/engine/{v}/statistics/summary/ingestion": {
            "post": {
                "tags": [
                    "Data Engine",
                    "Statistics"
                ],
                "summary": "Get ingestion statistics summary data",
                "description": "Get summary statistics for chunks and files ingested by publishers.\n    \n    Returns aggregate counts by content type for both files and chunks.\n    The counts data provides total counts and breakdowns by content type (Article, Book, Video, Podcast, Audio).\n\n    Role-Based Access:\n    - Global Admin: Can access all data or filter by specific publishers\n    - Organization Admin: Can only access data for publishers within their organization\n    - Publisher: Can only access data for the publishers they have ingested",
                "operationId": "get_ingestion_summary_engine__v__statistics_summary_ingestion_post",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "v",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/APIVersion",
                            "description": "API version"
                        },
                        "description": "API version"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IngestionSummaryRequest"
                            }
                        }
                    }
                },
[...]
